*{
    margin: 0;
    paddding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 220, 227);
    display: flex;
    align-items: center;
    justify-content: center;

}

#card{
    position: relative;
    height: 400px;
    width: 300px;
    background-color: rgb(173, 233, 20);
    overflow: hidden;
}

#card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card i{
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    font-size: 75px;
    opacity: 0;

    transition: all ease 0.5s;
}