*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}


html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(164, 211, 22);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 450px;
    width: 350px;
    background-color: #fff;gg
    border-radius: 10px;
    border: 3px solid #111;
}